.experience {
  padding: 120px 0;
  background-color: var(--light-color-2);
}

.experience-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.experience-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.column-title {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.exp-item {
  margin-bottom: 1rem;
}

.exp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--light-color-1);
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.exp-header:hover {
  transform: translateX(10px);
}


.exp-header h3 {
  font-size: 1.2rem;
  margin: 0;
}

.exp-toggle {
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.exp-item.active .exp-toggle {
  transform: rotate(45deg);
}

.exp-content {
  display: none;
  padding: 1rem;
}

.exp-item.active .exp-content {
  display: block;
}

.timeline-place {
  color: var(--secondary-color);
  margin-bottom: 0.3rem;
}

.timeline-date {
  color: var(--accent-color);
  margin-bottom: 0.5rem;
}

.timeline-description {
  color: var(--secondary-color);
  line-height: 1.6;
}

@media (max-width: 968px) {
  .experience-grid {
      grid-template-columns: 1fr;
      gap: 2rem;
  }
}
