* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
   
}

.custom-cursor {
    cursor: url('../images/cursor.png'), auto !important;;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Section styles */
section {
    padding: 80px 0;
}

section h2 {
    font-size: 32px;
    margin-bottom: 40px;
}


